/*
            electric: yellow          
            water: CornflowerBlue
            grass: Green
            poison: purple            
            bug: olive           
            normal:PeachPuff           
            ground:SandyBrown           
            fighting: Firebrick           
            psychic:Violet           
            rock: Grey           
            flying:Pink           
            ghost: MediumOrchid
            ice:cyan           
            dragon:gold           
            steel:gainsboro           
            dark: DarkSlateGray           
            fairy:hotpink          
            */

div.electric {
    background-color: yellow;
}

div.water {
    background: CornflowerBlue;
}

div.grass {
    background: green;
}

div.poison {
    background: purple;
}

div.bug {
    background: olive;
}

div.normal {
    background: peachpuff;
}

div.ground {
    background: sandybrown;
}

div.fighting {
    background: firebrick;
}

div.psychic {
    background: violet;
}

div.rock {
    background: grey;
}

div.flying {
    background: pink;
}

div.ghost {
    background: mediumorchid;
}

div.ice {
    background: cyan;
}

div.dragon {
    background: gold;
}

div.steel {
    background: gainsboro;
}

div.dark {
    background: darkslategray;
}

div.fairy {
    background: hotpink;
}

div.poisonghost {
    background: linear-gradient(45deg, purple 50%, mediumorchid 50%);
}

div.poisongrass {
    background: linear-gradient(45deg, purple 50%, green 50%);
}

div.flyingfire {
    background: linear-gradient(45deg, pink 50%, orange 50%);
}

div.poisonbug {
    background: linear-gradient(45deg, purple 50%, olive 50%);
}

div.flyingbug {
    background: linear-gradient(45deg, pink 50%, olive 50%);
}

div.flyingnormal {
    background: linear-gradient(45deg, pink 50%, peachpuff 50%);
}

div.groundpoison {
    background: linear-gradient(45deg, purple 50%, sandybrown 50%);
}

div.flyingpoison {
    background: linear-gradient(45deg, pink 50%, purple 50%);
}

div.grassbug {
    background: linear-gradient(45deg, green 50%, olive 50%);
}

div.fightingwater {
    background: linear-gradient(45deg, CornflowerBlue 50%, firebrick 50%);
}

div.poisonwater {
    background: linear-gradient(45deg, cornflowerblue 50%, purple 50%);
}

div.groundrock {
    background: linear-gradient(45deg, grey 50%, sandybrown 50%);
}

div.psychicwater {
    background: linear-gradient(45deg, hotpink 50%, cornflowerblue 50%);
}

div.steelelectric {
    background: linear-gradient(45deg, yellow 50%, gainsboro 50%);
}

div.icewater {
    background: linear-gradient(45deg, cornflowerblue 50%, cyan 50%);
}

div.psychicgrass {
    background: linear-gradient(45deg, green 50%, hotpink 50%);
}

div.rockground {
    background: linear-gradient(45deg, grey 50%, sandybrown 50%);
}

div.psychicice {
    background: linear-gradient(45deg, cyan 50%, hotpink 50%);
}

div.flyingwater {
    background: linear-gradient(45deg, cornflowerblue 50%, pink 50%);
}

div.waterrock {
    background: linear-gradient(45deg, grey 50%, cornflowerblue 50%);
}

div.flyingrock {
    background: linear-gradient(45deg, grey 50%, pink 50%);
}

div.flyingice {
    background: linear-gradient(45deg, cyan 50%, pink 50%);
}

div.flyingelectric {
    background: linear-gradient(45deg, yellow 50%, pink 50%);
}

div.flyingfire {
    background: linear-gradient(45deg, orange 50%, pink 50%);
}

div.flyingdragon {
    background: linear-gradient(45deg, gold 50%, pink 50%);
}

div.electricwater {
    background: linear-gradient(45deg, yellow 50%, cornflowerblue 50%);
}

div.flyingpsychic {
    background: linear-gradient(45deg, hotpink 50%, pink 50%);
}

div.flyinggrass {
    background: linear-gradient(45deg, green 50%, pink 50%);
}

div.groundwater {
    background: linear-gradient(45deg, sandybrown 50%, cornflowerblue 50%);
}

div.flyingdark {
    background: linear-gradient(45deg, pink 50%, darkslategray 50%);
}

div.psychicwater {
    background: linear-gradient(45deg, hotpink 50%, cornflowerblue 50%);
}

div.psychicnormal {
    background: linear-gradient(45deg, peachpuff 50%, hotpink 50%);
}